.testimonials {
  $c: &;

  overflow: hidden;
  position: relative;

  &__splat {
    position: absolute;
    left: 50%;
    top: 68%;
    transform: translate(-50%, -50%);
    color: $color-red;
    width: 100%;
    height: 100%;

    img {
      width: 150vw;
      height: 100%;
      filter: brightness(0) saturate(100%) invert(31%) sepia(99%) saturate(3337%) hue-rotate(357deg) brightness(99%)
        contrast(92%);
    }
  }

  &__title {
    margin: 0;
  }

  &__card {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    width: 100%;
    border: 1px solid rgba($color: $color-black, $alpha: 0.5);
    border-radius: $border-radius1;
    background-color: $color-white;

    h3 {
      margin: 0;
    }

    p {
      margin: 0;
    }
  }
}
