.button {
  $c: &;

  @include button-reset;
  @include font(20, 24);
  padding: 5px 10px;
  border-radius: $border-radius1;
  background-color: $color-orange;
  border: 2px solid $color-transparent;
  transition: all $default-transition-settings;
  color: $color-white;

  &--outlined {
    background-color: $color-transparent;
    border-color: $color-orange;
    color: $color-black;
  }

  &--small {
    @include font(18, 22);
    padding: 3px 7px;
  }

  @include min-tablet {
    &:hover {
      background-color: $color-red;
    }

    &--outlined {
      &:hover {
        background-color: $color-orange;
        color: $color-white;
      }
    }
  }

  @include min-laptop {
    @include font(24, 30);
    padding: 7px 20px;

    &--small {
      @include font(20, 24);
      padding: 5px 10px;
    }
  }
}
