.container {
  width: 100%;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  max-width: $container;

  @include min-tablet {
    padding-left: 40px;
    padding-right: 40px;
  }

  @include min-laptop {
    padding-left: 60px;
    padding-right: 60px;
  }

  @include min-desktop {
    padding-left: 0;
    padding-right: 0;
  }
}
