.filter {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  overflow-x: hidden;

  &__label {
    margin-right: 10px;
    font-weight: 700;
  }

  &__options {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &__group {
    display: flex;
    align-items: center;
    gap: 5px;
  }

  &.loading {
    pointer-events: none;
    opacity: 0.4;
  }

  @include min-tablet {
    flex-direction: row;
    justify-content: flex-end;
  }
}
