.section {
  padding: 40px 0;
  transition: opacity 0.5s ease-in-out;

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 30px;

    &--centered {
      justify-content: center;
    }

    @include min-tablet {
      gap: 40px;
    }
  }

  &[data-reveal] {
    opacity: 0;

    &.visible {
      opacity: 1;
    }
  }

  @include min-laptop {
    padding: 60px 0;
  }
}
