h1,
h2 {
  font-family: $font-title;
}

h2 {
  @include font(22, 32);

  @include min-tablet {
    @include font(32, 40);
  }
}

.text {
  @include font(18, 22);

  &--white {
    color: $color-white;
  }

  &--accent {
    color: $color-orange;
  }

  &--muted {
    color: $color-gray;
  }
}
