mixin promo()
  section.section.promo&attributes(attributes)
    .container.promo__container
      .promo__inner
        .promo__splat
          img(src="img/splat-1.svg", alt="", width=150, height=150)
        .promo__text
          span.text.text--accent Агенство недвижимости
          h1 Короткий слоган!
          p.text Короткое описание сайта и что тут можно найти. m ipsum dolor, sit amet consectetur adipisicing elit. Est, quaerat?
          a(data-anchor data-target-id="contact" href="#").button Оставь заявку
