mixin form()
  -
    const radios = [
      {
        id: 'radio-buy',
        name: 'radio-option',
        value: 'Купить',
        label: 'Купить',
        checked: true,
      },
      {
        id: 'radio-sell',
        name: 'radio-option',
        value: 'Продать',
        label: 'Продать',
        checked: false,
      },
      {
        id: 'radio-rent',
        name: 'radio-option',
        value: 'Сдать',
        label: 'Сдать',
        checked: false,
      },
      {
        id: 'radio-work',
        name: 'radio-option',
        value: 'Сотрудничать',
        label: 'Сотрудничать',
        checked: false,
      },
    ]

  .form&attributes(attributes)
    form.form__form(action="#" method="POST" data-form)
      #wpcf7-f135-o1.wpcf7(role='form' lang='ru-RU' dir='ltr')
        .screen-reader-response
          p(role='status' aria-live='polite' aria-atomic='true')
          ul
        div(style='display: none;')
          input(type='hidden' name='_wpcf7' value='135')
          input(type='hidden' name='_wpcf7_version' value='5.6.2')
          input(type='hidden' name='_wpcf7_locale' value='ru_RU')
          input(type='hidden' name='_wpcf7_unit_tag' value='wpcf7-f135-o1')
          input(type='hidden' name='_wpcf7_container_post' value='0')
          input(type='hidden' name='_wpcf7_posted_data_hash' value='')
        .form__row.form__row--radios
          span.wpcf7-form-control-wrap(data-name='radio-option')
            span#form-radio.wpcf7-form-control.wpcf7-radio
              span.wpcf7-list-item.first
                label
                  input.visually-hidden(type='radio' name='radio-option' value='Купить' checked='checked')
                  span.wpcf7-list-item-label Купить
              span.wpcf7-list-item
                label
                  input.visually-hidden(type='radio' name='radio-option' value='Продать')
                  span.wpcf7-list-item-label Продать
              span.wpcf7-list-item
                label
                  input.visually-hidden(type='radio' name='radio-option' value='Сдать')
                  span.wpcf7-list-item-label Сдать
              span.wpcf7-list-item.last
                label
                  input.visually-hidden(type='radio' name='radio-option' value='Сотрудничать')
                  span.wpcf7-list-item-label Сотрудничать
        .form__row
          .form__icon
            svg(width='30' height='30' aria-hidden='true')
              use(xlink:href='#icon-mail')
          .form__input
            label.visually-hidden(for='mail') &Vcy;&acy;&shcy;&acy; &pcy;&ocy;&chcy;&tcy;&acy;
            span.wpcf7-form-control-wrap(data-name='mail')
              input#mail.wpcf7-form-control.wpcf7-text.wpcf7-email.wpcf7-validates-as-required.wpcf7-validates-as-email(type='email' name='mail' value='' size='40' aria-required='true' aria-invalid='false')
        p
          input.wpcf7-form-control.has-spinner.wpcf7-submit.button.form__submit(type='submit' value='Подать')
        .wpcf7-response-output(aria-hidden='true')
