.radio {
  $c: &;

  label {
    @include font(17, 20);
    position: relative;
    display: flex;
    align-items: center;
    padding: 5px 10px 5px 35px;
    min-height: 30px;
    cursor: pointer;

    &::before {
      @include pseudo;
      left: 0;
      top: 50%;
      width: 25px;
      height: 25px;
      border-radius: 50%;
      border: 2px solid $color-orange;
      transform: translateY(-50%);
    }

    &::after {
      @include pseudo;
      left: 5px;
      top: 50%;
      width: 15px;
      height: 15px;
      border-radius: 50%;
      background-color: $color-orange;
      transform: translateY(-50%);
      opacity: 0;
    }
  }

  input:checked + label::after {
    opacity: 1;
  }
}
