mixin weAre()
  section.section.we-are
    .container
      .we-are__inner
        .we-are__bg
        .section__top.section__top--centered
          h2.we-are__title Кто мы?
        .section__body
          .we-are__info
            .we-are__brush
              +icon({name: 'brush-1', width: 230, height: 50})
            h3 Lorem ipsum dolor sit amet.
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, ullam nulla a ea facilis quia veniam nostrum dolor aut maiores.
