.we-are {
  $c: &;

  &__inner {
    position: relative;
  }

  &__bg {
    position: absolute;
    right: 0;
    top: 50%;
    width: 36vw;
    max-width: 370px;
    max-height: 460px;
    height: 45vw;
    background-image: url("../img/punk.svg");
    background-repeat: no-repeat;
    transform: translateY(-50%);

    @include min-tablet-small {
      right: 5%;
      top: 60%;
    }

    @include min-laptop {
      width: 30vw;
      height: 38vw;
    }
  }

  &__title {
    margin: 0;
  }

  &__info {
    position: relative;
    padding-left: 40px;
    max-width: 200px;

    h3 {
      @include font(20, 26);
      margin: 0 0 10px 0;
    }

    p {
      @include font(16, 22);
    }

    @include min-tablet-small {
      max-width: 250px;
    }

    @include min-tablet {
      max-width: 330px;

      h3 {
        @include font(22, 28);
      }

      p {
        @include font(18, 24);
      }
    }
  }

  &__brush {
    position: absolute;
    left: -30px;
    top: -70px;
    transform: rotate(90deg);
    transform-origin: left bottom;
    color: $color-red;

    @include min-tablet-small {
      svg {
        width: 200px;
      }
    }
  }
}
