.blog-page {
  $c: &;

  padding-bottom: 40px;
  overflow-x: hidden;

  &__body {
    display: flex;
    flex-direction: column;
  }

  &__title {
    margin-bottom: 20px;
  }

  &__list {
    @include list-reset;
    display: grid;
    gap: 30px;

    @include min-tablet {
      grid-template-columns: 1fr 1fr;
      column-gap: 20px;
      row-gap: 40px;
    }
  }

  &__brush {
    @include full-width-vw;
    position: absolute;
    bottom: 20px;
    left: 0;
    width: 100vw;
    color: $color-orange;

    svg {
      width: 100%;
      max-width: 100%;
    }
  }
}
