mixin team()
  section.section.team&attributes(attributes)
    .container
      .team__inner
        .section__top.section__top--centered
          h2.team__title Наши панки
        .section__body
          .team__contact
            a.button(href="contacts.html?contact=Сотрудничать") Сотрудничать
          .slider.team__slider.swiper(data-slider, data-type="team")
            ul.swiper-wrapper.slider__wrapper
              each item in teamItems
                li.swiper-slide.slider__slide
                  .team__card
                    .team__card-image
                      img(src=item.image, alt=item.name+item.job)
                    .team__card-info
                      h3 !{item.name}
                      p.text.text--muted !{item.job}
            .swiper-scrollbar.slider__scrollbar
