-
  const blogItems = [
    {
      id: 1,
      title: 'Мы открылись!',
      desc: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum, deserunt.',
      image: 'https://via.placeholder.com/1200x650',
      date: '02.08.2022',
      author: 'Alexey Rakov',
      male: true,
      pinned: true,
    },
    {
      id: 2,
      title: 'Что-то новенькое',
      desc: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum, deserunt.',
      image: 'https://via.placeholder.com/1200x650',
      date: '04.08.2022',
      author: 'Миша Молот',
      male: true,
      pinned: true,
    },
    {
      id: 3,
      title: 'Новые квартиры в красногвардейском районе',
      desc: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum, deserunt.',
      image: 'https://via.placeholder.com/1200x650',
      date: '09.08.2022',
      author: 'Даша Демон',
      male: false,
      pinned: true,
    },
    {
      id: 4,
      title: 'Мы открылись!',
      desc: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum, deserunt.',
      image: 'https://via.placeholder.com/1200x650',
      date: '02.08.2022',
      author: 'Alexey Rakov',
      male: false,
    },
    {
      id: 5,
      title: 'Что-то новенькое',
      desc: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum, deserunt.',
      image: 'https://via.placeholder.com/1200x650',
      date: '04.08.2022',
      author: 'Миша Молот',
      male: true,
    },
    {
      id: 6,
      title: 'Новые квартиры в красногвардейском районе',
      desc: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum, deserunt.',
      image: 'https://via.placeholder.com/1200x650',
      date: '09.08.2022',
      author: 'Alexey Rakov',
      male: true,
    },
  ]
