-
  const estateItems = [
    {
      id: 1,
      label: 'Уютная квартирка в центре',
      address: 'ул. Комсомольская д. 10',
      stats: [
        '2 комнаты',
        '60 кв. м.',
        '5/5 этаж',
      ],
      metro: [
        {
          label: 'Пл.Восстания',
          type: '1',
          time: '5 мин',
          way: 'walk',
        },
        {
          label: 'Пл. Александра Невского',
          type: '4',
          time: '10 мин',
          way: 'walk',
        },
      ],
      price: '33000 ₽/мес.',
      image: 'https://via.placeholder.com/320x200',
      hit: true,
    },
    {
      id: 1,
      label: 'Уютная квартирка в центре',
      address: 'ул. Комсомольская д. 10',
      stats: [
        '2 комнаты',
        '60 кв. м.',
        '5/5 этаж',
      ],
      metro: [
        {
          label: 'Садовая',
          type: '3',
          time: '5 мин',
          way: 'bus',
        },
      ],
      price: '33000 ₽/мес.',
      image: 'https://via.placeholder.com/320x200',
      hit: true,
    },
    {
      id: 1,
      label: 'Уютная квартирка в центре',
      address: 'ул. Комсомольская д. 10',
      stats: [
        '2 комнаты',
        '60 кв. м.',
        '5/5 этаж',
      ],
      metro: [
        {
          label: 'Пл.Восстания',
          type: '1',
          time: '5 мин',
          way: 'walk',
        },
        {
          label: 'Пл. Александра Невского',
          type: '4',
          time: '10 мин',
          way: 'walk',
        },
      ],
      price: '33000 ₽/мес.',
      image: 'https://via.placeholder.com/320x200',
      hit: true,
    },

  ];

  const estateRegionFilter = {
    placeholder: 'Район',
    id: 'region',
    name: 'region',
    options: [
      {
        value: 'Центральный',
        label: 'Центральный',
      },
      {
        value: 'Мурино',
        label: 'Мурино',
      },
      {
        value: 'Приморский',
        label: 'Приморский',
      },
      {
        value: 'Адмиралтейский',
        label: 'Адмиралтейский',
      },
    ]
  };

  const estateMetroFilter = {
    placeholder: 'Метро',
    id: 'metro',
    name: 'metro',
    options: [
      {
        value: 'Пл. Восстания',
        label: 'Пл. Восстания',
      },
      {
        value: 'Комендантский пр.',
        label: 'Комендантский пр.',
      },
      {
        value: 'Девяткино',
        label: 'Девяткино',
      },
      {
        value: 'Ломоносовская',
        label: 'Ломоносовская',
      },
    ]
  }
