-
  const estateItems = [
    {
      id: 1,
      label: 'Уютная квартирка в центре',
      address: 'ул. Комсомольская д. 10',
      metro: 'Ломоносовская',
      price: '33000/мес.',
      image: 'https://via.placeholder.com/320x200',
    },
    {
      id: 1,
      label: 'Уютная квартирка в центре',
      address: 'ул. Такая д. 10',
      metro: 'Маяковская',
      price: '25000/мес.',
      image: 'https://via.placeholder.com/320x200',
    },
    {
      id: 1,
      label: 'Уютная квартирка в центре',
      address: 'ул. Такая д. 10',
      metro: 'Обводный канал',
      price: '42000/мес.',
      image: 'https://via.placeholder.com/320x200',
    },
  ]
