-
  const estateItems = [
    {
      id: 1,
      label: 'Уютная квартирка в центре',
      address: 'ул. Комсомольская д. 10',
      metro: 'Ломоносовская',
      price: '33000/мес.',
      image: 'https://via.placeholder.com/320x200',
      hit: true,
    },
    {
      id: 1,
      label: 'Уютная квартирка в центре',
      address: 'ул. Такая д. 10',
      metro: 'Маяковская',
      price: '25000/мес.',
      image: 'https://via.placeholder.com/320x200',
      hit: true,
    },
    {
      id: 1,
      label: 'Уютная квартирка в центре',
      address: 'ул. Такая д. 10',
      metro: 'Обводный канал',
      price: '42000/мес.',
      image: 'https://via.placeholder.com/320x200',
      hit: true,
    },
    {
      id: 1,
      label: 'Уютная квартирка в центре',
      address: 'ул. Комсомольская д. 10',
      metro: 'Ломоносовская',
      price: '33000/мес.',
      image: 'https://via.placeholder.com/320x200',
      hit: false,
    },
    {
      id: 1,
      label: 'Уютная квартирка в центре',
      address: 'ул. Такая д. 10',
      metro: 'Маяковская',
      price: '25000/мес.',
      image: 'https://via.placeholder.com/320x200',
      hit: false,
    },
    {
      id: 1,
      label: 'Уютная квартирка в центре',
      address: 'ул. Такая д. 10',
      metro: 'Обводный канал',
      price: '42000/мес.',
      image: 'https://via.placeholder.com/320x200',
      hit: false,
    },
    {
      id: 1,
      label: 'Уютная квартирка в центре',
      address: 'ул. Комсомольская д. 10',
      metro: 'Ломоносовская',
      price: '33000/мес.',
      image: 'https://via.placeholder.com/320x200',
      hit: false,
    },
    {
      id: 1,
      label: 'Уютная квартирка в центре',
      address: 'ул. Такая д. 10',
      metro: 'Маяковская',
      price: '25000/мес.',
      image: 'https://via.placeholder.com/320x200',
      hit: false,
    },
    {
      id: 1,
      label: 'Уютная квартирка в центре',
      address: 'ул. Такая д. 10',
      metro: 'Обводный канал',
      price: '42000/мес.',
      image: 'https://via.placeholder.com/320x200',
      hit: false,
    },
    {
      id: 1,
      label: 'Уютная квартирка в центре',
      address: 'ул. Комсомольская д. 10',
      metro: 'Ломоносовская',
      price: '33000/мес.',
      image: 'https://via.placeholder.com/320x200',
      hit: false,
    },
    {
      id: 1,
      label: 'Уютная квартирка в центре',
      address: 'ул. Такая д. 10',
      metro: 'Маяковская',
      price: '25000/мес.',
      image: 'https://via.placeholder.com/320x200',
      hit: false,
    },
    {
      id: 1,
      label: 'Уютная квартирка в центре',
      address: 'ул. Такая д. 10',
      metro: 'Обводный канал',
      price: '42000/мес.',
      image: 'https://via.placeholder.com/320x200',
      hit: false,
    },
  ];

  const estateRegionFilter = {
    placeholder: 'Район',
    id: 'region',
    name: 'region',
    options: [
      {
        value: 'Центральный',
        label: 'Центральный',
      },
      {
        value: 'Мурино',
        label: 'Мурино',
      },
      {
        value: 'Приморский',
        label: 'Приморский',
      },
      {
        value: 'Адмиралтейский',
        label: 'Адмиралтейский',
      },
    ]
  };

  const estateMetroFilter = {
    placeholder: 'Метро',
    id: 'metro',
    name: 'metro',
    options: [
      {
        value: 'Пл. Восстания',
        label: 'Пл. Восстания',
      },
      {
        value: 'Комендантский пр.',
        label: 'Комендантский пр.',
      },
      {
        value: 'Девяткино',
        label: 'Девяткино',
      },
      {
        value: 'Ломоносовская',
        label: 'Ломоносовская',
      },
    ]
  }
