-
  const navLinks = [
    {
      url: '/',
      name: 'Главная',
      alias: 'main',
    },
    {
      url: 'about.html',
      name: 'Мы',
      alias: 'about',
    },
    {
      url: 'estate.html',
      name: 'Квартиры',
      alias: 'estate',
    },
    {
      url: 'blog.html',
      name: 'Блог',
      alias: 'blog',
    },
    {
      url: 'contacts.html',
      name: 'Контакты',
      alias: 'contacts',
      type: 'button',
    },
  ]
