-
  const servicesItems = [
    {
      id: 1,
      label: 'Lorem ipsum dolor sit',
      text: 'Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptates, maiores?',
    },
    {
      id: 2,
      label: 'Lorem ipsum dolor sit',
      text: 'Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptates, maiores?',
    },
    {
      id: 3,
      label: 'Lorem ipsum dolor sit',
      text: 'Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptates, maiores?',
    },
  ]
