-
  const socialsData = {
    list: [
      {
        link: 'https://www.instagram.com',
        label: 'Мы в инсте',
        icon: 'social-insta',
      },
      {
        link: 'https://www.vk.ru',
        label: 'Мы в VK',
        icon: 'social-vk',
      },
      {
        link: 'https://www.facebook.com',
        label: 'Мы в фейсбук',
        icon: 'social-fb',
      },
    ]
  }
