-
  const teamItems = [
    {
      image: 'img/avatar-1.svg',
      name: 'Алексей Раков',
      job: 'Директор',
    },
    {
      image: 'img/avatar-2.svg',
      name: 'Гриша Бэд',
      job: 'Риелтор',
    },
    {
      image: 'img/avatar-3.svg',
      name: 'Миша Сокол',
      job: 'Риелтор',
    },
    {
      image: 'img/avatar-4.svg',
      name: 'Даша Демон',
      job: 'Риелтор',
    },
  ]
