mixin footer()

  footer.footer&attributes(attributes)
    .footer__inner.container
      .footer__col
        +logo(true).footer__logo
        .footer__text
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut totam laudantium tenetur praesentium, itaque illo.
      .footer__col
        ul.footer__list
          each item in navLinks.slice(1)
            li
              a(href=item.url) !{item.name}
      .footer__col
        address.footer__contacts
          p г. Санкт-Петербург, п. Мурино, ул. шоссе в Лаврики д. 34 к.1
          a(href="tel:+79999999999")
            +icon({name: 'icon-phone', width: 20, height: 20})
            span +7 (999) 999 99 99
          a(href="mailto:shum-estate@mail.ru")
            +icon({name: 'icon-mail', width: 20, height: 20})
            span shum-estate@mail.ru

