.services {
  $c: &;

  position: relative;
  overflow: hidden;

  &__splat {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: $color-orange;
    width: 100%;
    height: 100%;

    svg {
      width: 150vw;
      height: 100%;
    }
  }

  &__title {
    margin: 0;
  }

  &__list {
    @include list-reset;
    position: relative;
    z-index: $layer-default;
    display: flex;
    flex-direction: column;
    gap: 40px;

    @include min-tablet {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  &__item {
    &:first-child {
      #{$c}__card-top {
        color: $color-red;
      }
    }

    &:last-child {
      #{$c}__card-top {
        color: $color-green;
      }
    }
  }

  &__card {
    margin: 0 auto;
    max-width: 300px;
    padding: 20px;
    border-radius: $border-radius1;
    box-shadow: $shadow1;
    background-color: $color-white;

    &-top {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 10px;
      color: $color-black;
    }

    &-body {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;
    }

    &-title {
      margin: 0;
      text-align: center;
    }

    &-text {
      margin: 0;
      text-align: center;
    }
  }
}
