extends ../base/layout

block variables
  - const mainPage = false;
  - const currentPage = 'about';

block main
  .page__top.container
    .page__title
      h1 О нас
        +icon({name: 'brush-3', width: 200, height: 40})
  section.about-page
    .container
      .about-page__inner
        .about-page__scull
          img(src="img/scull-3.svg", alt="")
        .about-page__info
          h2 Мы команда риелторов
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores atque tenetur iure eveniet dolorem saepe, quae et? Nihil quidem praesentium asperiores omnis quasi saepe facere.
          p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolor, impedit.
          a.button(href="index.html#contact") Подать заявку
  +team()


