extends ../base/layout

block variables
  - const mainPage = false;
  - const currentPage = 'blog';

block main
  .page__top.container
    .page__title
      h1 Новости и статьи
        +icon({name: 'brush-3', width: 200, height: 40})
  section.blog-page
    .container
      .blog-page__inner
        .blog-page__body
          ul.blog-page__list
            each item in blogItems
              li.blog-page__item
                +blogCard(item)
          +pagination()

