extends ../base/layout

block variables
  - const mainPage = false;
  - const currentPage = 'estate';
  -
    const orderRadios = [
      {
        id: 'order1',
        name: 'order',
        value: 'ASC',
        label: 'Вверх',
        checked: true,
      },
      {
        id: 'order2',
        name: 'order',
        value: 'DESC',
        label: 'Вниз',
      },
    ];

    const roomsCheckboxes = [
      {
        id: 'room1',
        name: 'rooms',
        value: '1',
        label: '1',
      },
      {
        id: 'room2',
        name: 'rooms',
        value: '2',
        label: '2',
      },
      {
        id: 'room3',
        name: 'rooms',
        value: '3',
        label: '3',
      },
      {
        id: 'room4',
        name: 'rooms',
        value: '4',
        label: '4',
      },
    ]

block main
  .page__top.container
    .page__title
      h1 Квартиры
        +icon({name: 'brush-3', width: 200, height: 40})
  section.estate-page
    .container
      .estate-page__inner
        .estate-page__filter
          form.filter(action="#" method="POST" data-filter data-action="estate_filter")
            .filter__multiselect.filter__group(data-multiselect data-name="roomsCount")
              span.filter__label.text.text--muted Комнат:
              .filter__options
                each item in roomsCheckboxes
                  .filter__element
                    +checkbox(item)
            .filter__radio.filter__group(data-radio data-name="order")
              span.filter__label.text.text--muted Цена:
              .filter__options
                each radio in orderRadios
                  .filter__element
                    +radio(radio)


        .estate-page__catalog
          ul.estate-page__list#filter-result
            //- li.estate-page__item.estate-page__item--empty
            //-   p.text.text--muted Записей не найдено. Возможно стоит ослабить фильтр.
            each item in estateItems
              li.estate-page__item
                +estate-card(item)
