extends ../base/layout

block variables
  - const mainPage = true;
  - const currentPage = 'main';

block main
  h1.visually-hidden Агенство недвижимости в Санкт-Петербурге. Комфортные квартиры во всех районах города.
  +promo()
  +popular()
  +services()
