.breadcrumbs {
  $c: &;

  &__list {
    @include list-reset;
    display: flex;
    gap: 40px;
  }

  &__item {
    position: relative;
    display: flex;
    align-items: center;

    svg {
      position: absolute;
      right: -30px;
      top: 50%;
      transform: translateY(-50%);
    }

    &--current {
      opacity: 0.5;
      pointer-events: none;
    }
  }

  &__link {
    @include font(14, 20);
    position: relative;

    &::before {
      @include pseudo;
      left: -10px;
      right: -10px;
      top: -10px;
      bottom: -10px;
    }

    @include min-tablet {
      @include interactive-opacity;
    }
  }
}
