mixin estate-card({image, id, label, address, stats, metro, price})

  .estate-card&attributes(attributes)
    a.estate-card__image(href="estate-single.html")
      img(src=image, alt=label)
      .estate-card__price
        span !{price}
    .estate-card__body
      h3.estate-card__title
        a(href="estate-single.html") !{label}
      .estate-card__info
        +estate-info({address, stats, metro})
      a.button.button--outlined.button--small.estate-card__link(href="estate-single.html") Подробнее



