.header {
  $c: &;

  position: fixed;
  left: 0;
  top: 0;
  z-index: $layer-header;
  display: flex;
  align-items: center;
  padding: 25px 0;
  width: 100vw;
  background-color: $color-black;
  color: $color-white;

  &__inner {
    display: flex;
    align-items: center;
  }
}
